---
interface Props {
  image?: string;
  bg?: string;
  gradient?: string;
  gradientSize?: string;
  mask?: string;
  title?: string;
  titleColor?: string;
  titleSize?: string;
  bgPosition?: string;
  overlay?: string;
}

const {
  image,
  bg = "var(--jr-vit)",
  gradient = "none",
  gradientSize = "auto",
  mask = "none",
  title,
  titleColor = "var(--jr-vit)",
  titleSize = "var(--text-display)",
  bgPosition = "center center",
  overlay = "none",
} = Astro.props;
---

<section class="hero">
  <div class="bg"></div>
  {
    title && (
      <div class="hero-content">
        <h1>{title}</h1>
      </div>
    )
  }
</section>

<style
  define:vars={{ image: image ? `url('${image}')` : 'none', bg, titleColor, titleSize, bgPosition, overlay, gradient, gradientSize, mask }}
>
  .hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .bg {
    position: absolute;
    inset: 0;
    background-color: var(--bg);
    background-image: var(--gradient), var(--image);
    background-size: var(--gradientSize), cover;
    background-position: var(--bgPosition);
    -webkit-mask-image: var(--mask);
    mask-image: var(--mask);
  }

  .bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--overlay);
  }

  .hero-content {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  h1 {
    font-family: var(--font-display);
    font-size: var(--titleSize);
    color: var(--titleColor);
    text-align: center;
    white-space: nowrap;
  }
</style>
